.title {
    display: inline-block;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    background-color: #C9D6DF;
    box-shadow: 0.45rem 0.45rem 0 #1E2022;
    margin: 11.81rem 5.68rem 2.37rem;
    padding: 2.63rem 2.75rem;
}

.title h1 {
    text-shadow: black 0.25rem 0.25rem;
    color: #FFFFFF;
    font-size: 2.0rem;
    margin-bottom: 1.68rem;
}

.title h3 {
    text-shadow: black 0.25rem 0.25rem;
    color: #52616B;
    font-size: 1.60rem;
}   